.content {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  transform: translateY(var(--content-y-offset));

  .character_list, .weapon_list, .vision_list { 
    box-sizing: border-box;
    margin: 1rem;
    padding: 0.75rem;
    background-color: var(--secondary-color);
    border-radius: 16px;
  }
  
  .character_list {
    width: 90%;
    height: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .character {
      margin: .4rem;

      #icon {
        width: 64px;
        height: 64px;
      }
    }
  }

  .weapon_list, .vision_list {
    width: calc(45% - 1rem);
    height: 256px;
  }
}